.turntable{
    display: flex;
    min-height: 300px;
    flex-direction: column;
    flex: 1;
    height: 0;
    padding: 0 5px;

    ul{
        padding: 0;
        margin: 0;
    }
    li{
        list-style: none;
        border: solid 1px #8f8f8f;
        background-color: #e8e8e8;
        background-size: 100% 100%;
        position: relative;
        border-style: solid;
        min-height: 30px;

        img{
            width: 100%;
            height: 100%;
            pointer-events: none;
        }

        span{
            position: absolute;
            text-align: center;
            top: 70%;
            left: 50%;
            transform: translate(-50%, -50%);
            bottom: 5px;
            color: #ffffff;
            background-color: rgb(123 123 123 / 41%);
            display: inline-table;
            border-radius: 5px;
            padding: 0 3px;
            font-size: min(3vw, 16px);
            font-weight: 900;
        }
    }

    main{
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        height: 0;
        flex: 5;

        >div{
            flex: 1;
            display: flex;
            li{
                flex: 1;
                height: 0;
            }
        }

        .bg{
            flex: 5;
            background-size: 100% 100%;
            transition: all 2s;
            background-image: none;
            filter: drop-shadow(2px 4px 6px red);
        }
    }

    header,footer{
        height: 0;
        flex: 1;
        ul{
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            height: 100%;
        }
        li{
            flex: 1;
        }
    }

    .left,.right{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        z-index: -1;
        flex: 1;
    }

}

#animation{
    position: relative;
    width: 100%;
    height: 100%;
    >svg{
        position: absolute;
        top: 0;
    }
}

.select{
    background-image: radial-gradient(#acff09, #ffdd05) !important;
    box-shadow: 0 0 5px red;
    z-index: 99;
    animation: star 5s ease infinite;
}