

.options{
    text-align: right;

    button{
        width: 20px;
        height: 20px;
        display: inline-block;
        text-align: left;
        background-size: 100% 100%;
        background-color: #fbe5e5;
        border: solid 2px black;
    }

}