.chip{
    // display: flex;
    ul{
        padding: 0;
        margin: 0;
        display: inline-block;
        flex: 1;
        display: flex;
        flex-wrap: wrap;
    }

    li{
        list-style: none;
        flex: 1;
        display: inline-block;
        margin: 0 5px;
        vertical-align: top;
        height: 100px;


        .imgBox{
            display: inline-block;
            background-color: rgb(237, 237, 237);
            img{
                width: 20px;
                height: 20px;
                pointer-events: none;
            }
        }

    }
}


.pixel-btn{
    border-radius: 50%;
    display: inline-block;
    background-color: rgb(133, 133, 5);
    user-select: none;

    &-key{
        position: relative;
        padding: 5px;

        input{
            width: 32px;
            height: 32px;
            outline: none;
            // pointer-events: none;
        }

        .btn{
            width: 32px;
            height: 32px;
            outline: none;
            background-color: #ff0;
            border-radius: 50%;
            position: relative;
            box-shadow: -1px -2px 4px 0px #8b8b8b;
            transition: all 0.2s;
           
            &:hover{
                background-color: rgb(229, 229, 6);
            }

            &:active{
                margin-top: 2px;
            }

        }


        
        input:active{
            margin-top: 2px;
        }

        img{
            pointer-events: none;
            height: 60%;
            width: 60%;
            vertical-align: middle;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            position: absolute;
            margin: auto;
            user-select: none;
        }

    }

    input{
        background-color: yellow;
        border-radius: 50%;
        display: inline-block;
        width: 32px;


        &:hover{
            background-color: rgb(229, 229, 6);
        }
    }
}

.control{
    display: inline-block;
    vertical-align: top;
    margin-top: 10px;
    flex: 1;

    main{
        margin-left: 10px;
    }
}

.pixel-btn-rect{
    background-color: rgb(133, 133, 5);
    border-radius: 5px;
    width: 50px;
    height: 50px;
    padding: 5px;
    margin-left: 20px;

    >div {
        color: black;
        font-weight: 600;
        border-radius: 5px;
        background-color: yellow;
        height: 100%;
        text-align: center;
        line-height: 50px;
    }
}

.disabled{
    background-color: #bcbcbc !important;
}